<div class="container">
  <div class="row">
    <div class="film col-md-12 justify-content-center"  >
      <img src="{{filmImageUrl + film?.poster_path}}" alt="" >
      <div class="col">{{film?.name}}</div>
      <div class="col">{{film?.first_air_date}}</div>
      <div class="col">{{film?.overview}}</div>
      <div class="col">{{film?.popularity}}</div>
      <div class="col">{{film?.original_title}}</div>
      <div class="col">{{film?.original_language}}</div>
      <div class="col">{{film?.release_date}}</div>
      <div class="col">{{film?.vote_average}}</div>

    </div>
  </div>
</div>
