<!--The content below is only a placeholder and can be replaced.-->

<header>
  <div class="container">
    <input type="text" (input)="search($event.target.value)" >
  </div>
</header>
<main class="container">
  <div class="row">
    <div class="film col-md-3" *ngFor="let film of listFilms" >
      <img src="{{filmsImageUrl + film.poster_path }}" alt="" class="col-md-12">
      {{film.name}}
      {{film.first_air_date}}
      {{film.overview}}
      {{film.popularity}}
      {{film.original_title}}
      {{film.original_title}}
      {{film.id}}
    </div>
  </div>
</main>
<router-outlet></router-outlet>
