
<div class="row">
  <div class="film col-md-3" *ngFor="let film of listFilms">
    <img *ngIf="film?.poster_path" src="{{filmsImageUrl+film?.poster_path }}" alt="" class="col-md-12">
    <img *ngIf="!film?.poster_path" src="{{filmsImageUrl+film?.profile_path }}" alt="" class="col-md-12">
    <img *ngIf="!film?.poster_path && !film?.profile_path " src="{{filmsImageUrl+film?.backdrop_path }}" alt="" class="col-md-12">
    <div *ngIf="film.original_name"><span>Название:</span>{{film?.original_name}}</div>
    <div *ngIf="!film.original_name"><span>Название:</span>{{film?.original_title}}</div>
    <div><span>Дата выхода:</span>{{film?.first_air_date}}</div>
    <div><span>Описание:</span>{{film?.overview}}</div>
    <div><span>Оценка:</span>{{film?.popularity}}</div>
    <button type="button" class="btn btn-primary" (click)="getDetails(film.id)" routerLink="/detail/{{film.id}}">Подробней</button>
  </div>
</div>
